---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Proyects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout
	title = {"Portafolio de Ignacio"}
	description = {"Contrata a Ignacio para crear tu aplicacion web o movil."}
>
	<main>
		<SectionContainer id="sobre-mi" class="w-full mx-auto lg:w-[740px] py-20 px-5 pt-40">
			<AboutMe />
		</SectionContainer>

		<SectionContainer id="experiencia" class="w-full mx-auto lg:w-[740px] py-20 px-5 pt-25">
			<h2 class="text-3xl font-semiboldbold mb-5">Mi Experiencia</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos" class="w-full mx-auto lg:w-[740px] py-20 px-5 pt-25">
			<h2 id="proyectos" class="text-3xl font-semiboldbold mb-5">Mis Proyectos</h2>
			<Proyects />
		</SectionContainer>
	</main>

</Layout>
