---
import ExperienceItem from "./ExperienceItem.astro"

const Experiences = [
  {
    date: "Agosto 2025 – Actualidad",
    title: "Memorista – Analista de Datos - CODELCO División Gabriela Mistral",
    description: "Capstone Project en la Superintendencia de Ingeniería y Gestión Mina. Desarrollo de reportes KPI para rendimiento mina y desviaciones basadas en planificación, trabajando con datos de CAEX, Palas y Perforadoras.",
    // link: "#"
  },
  {
    date: "Enero 2025 – Marzo 2025",
    title: "Práctica Profesional – Desarrollador Full-Stack FCAB",
    description: "Migración y modernización de un sistema interno de Excelencia Operacional y Tecnología usando NestJS y Flutter. Optimización de procesos y mejora de rendimiento reemplazando API legacy por WebSockets.",
    // link: "#"
  },
  {
    date: "Octubre 2024 – Diciembre 2024",
    title: "Desarrollador Full-Stack - Dermacorpus Sercotec",
    description: "Reducción de la tasa de abandono en agendamiento mediante una landing page integrada. Desarrollo con Next.js y NestJS, integración con AgendaPro, autenticación JWT y despliegue CI/CD.",
    // link: "#"
  },
  {
    date: "Enero 2024 – Febrero 2024",
    title: "Mentor y Profesor - Technovation Girls",
    description: "Guía técnica y metodológica a equipos de jóvenes. Impartición de clases de diseño y desarrollo de aplicaciones móviles.",
    // link: "#"
  },
  {
    date: "Marzo 2022 – Julio 2023",
    title: "Documentador Técnico - TRICEL",
    description: "Responsable de documentar procesos internos y creación del primer estatuto oficial de la carrera en el Tribunal Calificador de Elecciones.",
    // link: "#"
  }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        Experiences.map(experience => (
            <li class="mt-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

