---

---

<header class="w-full sticky top-0 bg-slate-900 z-50">
 <div class="mx-auto flex justify-center items-center py-5 max-w-6xl px-3">

     <nav class="flex flex-row gap-x-5 opacity-80 flex-wrap">
         <a href="#top">Inicio</a>
         <a href="#sobre-mi">Sobre mí</a>
         <a href="#experiencia">Experiencia</a>
         <a href="#proyectos">Proyectos</a>
         <!-- <a href="#contacto">Contacto</a> -->
     </nav>
 </div>

</header>