---

---

<header class="w-full">
 <div class="mx-auto flex justify-center items-center py-5 max-w-6xl px-3">


     <nav class="flex flex-row gap-x-5 opacity-80 flex-wrap">
         <a href="/">Home</a>
         <a href="/about">About</a>
         <a href="/projets">Projets</a>
         <a href="/contact">Contact</a>
     </nav>
 </div>

</header>